
:root {
  --font-xxlarge: 3.5rem;
  --font-xlarge: 3rem;
  --font-large: 2rem;
  --font-medium: 1.5rem;
  --font-small: 1rem;

  --space-xxlg: 4rem;
  --space-xlg: 3rem;
  --space-lg: 2rem;
  --space-md: 1.5rem;
  --space-sm: 1rem;

  --color-white: rgb(255, 255, 255);
  --color-point: rgb(204, 204, 255);
  --color-black: rgb(34, 33, 33);
  --color-highlight: rgb(147,112,219);
}
.menu-icon:hover, li:hover {
  cursor: pointer;
}


header {
  font-family: "Alef", sans-serif;
  color: var(--color-black);
  background-color: var(--color-point);
  font-size: var(--font-large);
}

nav {
  color: var(--color-black);
}

.content{
  color: var(--color-black);
  background-color: var(--color-point);
  font-size: var(--font-large);
}

.navbar-name {
  text-align: center;

}

.name {
  font-size: var(--font-large);
}

i.fab {
  padding: 5px;
  font-size: var(--font-medium);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

a:hover {
  color: var(--color-highlight);
}

.my-description {
  font-size: var(--font-small);
  margin: 1px;
}
