.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --font-xxlarge: 3.5rem;
  --font-xlarge: 3rem;
  --font-large: 2rem;
  --font-medium: 1.5rem;
  --font-small: 1rem;

  --space-xxlg: 4rem;
  --space-xlg: 3rem;
  --space-lg: 2rem;
  --space-md: 1.5rem;
  --space-sm: 1rem;

  --color-white: rgb(255, 255, 255);
  --color-point: rgb(204, 204, 255);
  --color-black: rgb(34, 33, 33);
}
li:hover {
  cursor: pointer;

}

Header {
  font-family: "Alef", sans-serif;
  color: var(--color-white);
}

.navbar-name {
  text-align: center;

}

.name {
  font-size: var(--font-xlarge);
}